<div id="products-section">
  <h1>Learn how to 3D Print in the Caf&eacute;</h1>
  <div class="options">
    <mat-card>
      <mat-card-title>Classes</mat-card-title>
      <mat-card-content>
        <div class="icon"><mat-icon>school</mat-icon></div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Day Pass</mat-card-title>
      <mat-card-content>
        <div class="icon"><mat-icon>credit_card</mat-icon></div>
        A 1-Day print pass gives you access to unlimited printing and a free coffee in Create Cafe during operating hours. The possibilities are endless as to what you can print!
        <br /><br />
        Before you can use a daily pass you must take the Introduction to 3D Printing course to learn to operate the printers. You only need to take it once!
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="openDayPass()">Buy Now</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Monthly Membership</mat-card-title>
      <mat-card-content>
        <div class="icon"><mat-icon>today</mat-icon></div>
        Becoming a 3D Printing Member at Create Cafe gives you access to <b>unlimited printing for one month in the cafe</b>. The possibilities are endless as to what you can print!
        <br /><br />
        Before you can use a monthly membership you must take the Introduction to 3D Printing course to learn to operate the printers. You only need to take it once!
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="openMonthPass()">Buy Now</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>