$create-teal: #23b0af;
$create-shade: #308483;
$forge-blue: #03A9F4;
$light-grey: #cccccc;
$very-light-grey: #eeeeee;
$med-grey: #888888;
$dark-grey: #333333;
$trans-slate: rgba(30,30,30,0.8);
$ice-white: #ffffff;
$black: #000000;
