/* import styles */
/* HEADER STYLES */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
#header-bar {
  background-color: #ffffff;
  color: #333333;
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 3px solid #23b0af;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6); }
  #header-bar .logo {
    font-family: "Code";
    font-size: 30pt;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-shadow: 0px 1px 0px black;
    text-transform: uppercase; }
    #header-bar .logo img {
      width: 40px;
      height: auto;
      margin-top: -10px;
      margin-right: 10px; }
  #header-bar #nav {
    list-style: none;
    align-self: flex-end;
    display: inline-flex;
    align-items: stretch;
    height: 100%;
    margin: 0;
    transition: right .2s ease-in-out; }
    #header-bar #nav li {
      height: 100%; }
      #header-bar #nav li a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #ffffff;
        color: #23b0af;
        padding: 10px 20px;
        box-sizing: border-box;
        text-decoration: none;
        transition: all 0.1s ease-in-out;
        text-transform: uppercase; }
        #header-bar #nav li a:hover {
          color: #ffffff;
          background-color: #23b0af; }
        @media screen and (max-width: 880px) {
          #header-bar #nav li a {
            display: block;
            width: 100%;
            color: #ffffff;
            background-color: #308483; } }
      @media screen and (max-width: 880px) {
        #header-bar #nav li {
          height: 60px;
          width: 100%;
          line-height: 40px; } }
    @media screen and (max-width: 880px) {
      #header-bar #nav {
        display: block;
        position: fixed;
        top: 0;
        padding: 0;
        height: 100%;
        background-color: #308483;
        right: -150px; } }
  #header-bar .nav-toggle {
    display: none;
    height: 100%;
    line-height: 30px;
    padding: 20px; }
    @media screen and (max-width: 880px) {
      #header-bar .nav-toggle {
        display: block; } }

.banner {
  padding: 20px 30%;
  position: relative;
  width: 100%;
  min-height: 500px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #363430;
  background-image: url("../images/printer_bg.jpg");
  background-position: center;
  background-size: cover;
  font-size: 26pt;
  font-weight: 200;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
  overflow: hidden; }
  .banner video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.6);
    transition: filter 0.2s ease-in-out; }
    .banner video:hover {
      filter: brightness(0.7); }
  .banner div {
    position: absolute;
    z-index: 1;
    text-shadow: 0px 2px 2px black; }
  .banner h1 {
    font-weight: 200;
    font-family: "Code"; }
    .banner h1 b {
      font-weight: 800; }

.homepage-slides .slides {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .homepage-slides .slides .slide {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 20px;
    background-position: center center; }
    .homepage-slides .slides .slide .image {
      width: 400px;
      height: 400px;
      background-size: cover; }
    .homepage-slides .slides .slide .text {
      position: absolute;
      top: 0;
      color: #ffffff;
      background-color: rgba(48, 132, 131, 0.1);
      width: 400px;
      height: 400px;
      padding: 320px 0 0 0;
      transition: all 0.3s ease-in-out; }
      .homepage-slides .slides .slide .text h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0;
        background-color: #308483;
        padding: 10px 10px 0 10px; }
      .homepage-slides .slides .slide .text h3 {
        color: #ffffff;
        margin: 0 0 10px 0;
        font-weight: 200;
        background-color: #308483;
        padding: 10px; }
        .homepage-slides .slides .slide .text h3:after {
          display: block;
          content: '\f077';
          position: absolute;
          font-family: "FontAwesome";
          bottom: 20px;
          right: 20px;
          color: rgba(0, 0, 0, 0.4);
          font-size: 36px;
          font-weight: 400;
          opacity: 1;
          transition: all 0.3s ease-in-out; }
      .homepage-slides .slides .slide .text .socicons {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin: auto; }
        .homepage-slides .slides .slide .text .socicons a {
          color: #cccccc;
          transition: all 0.2s ease-in-out; }
          .homepage-slides .slides .slide .text .socicons a:hover {
            color: #ffffff; }
      .homepage-slides .slides .slide .text span {
        padding: 10px;
        display: block;
        font-size: 16pt;
        font-weight: 200; }
        .homepage-slides .slides .slide .text span h4 {
          margin: 0 0 20px 0; }
          .homepage-slides .slides .slide .text span h4 span {
            font-weight: 200;
            font-size: 12pt;
            margin: 0;
            padding: 0; }
        .homepage-slides .slides .slide .text span a.button {
          display: block;
          padding: 10px;
          background-color: rgba(255, 255, 255, 0);
          color: #ffffff;
          text-align: center;
          border: 2px solid #ffffff;
          font-size: 14pt;
          width: 200px;
          min-width: 200px;
          margin: 10px auto;
          font-weight: 800;
          text-transform: uppercase;
          transition: all 0.2s ease-in-out;
          box-shadow: none; }
          .homepage-slides .slides .slide .text span a.button:hover {
            background-color: white;
            color: #308483; }
      .homepage-slides .slides .slide .text:hover {
        padding-top: 10px;
        background-color: rgba(48, 132, 131, 0.9); }
        .homepage-slides .slides .slide .text:hover h2, .homepage-slides .slides .slide .text:hover h3 {
          transition: background-color 0.3s ease-in-out;
          background-color: rgba(48, 132, 131, 0); }
        .homepage-slides .slides .slide .text:hover h3:after {
          transform: scaleY(-1);
          bottom: 340px; }
.homepage-slides .dark .slide .text {
  background-color: rgba(51, 51, 51, 0.1); }
  .homepage-slides .dark .slide .text h2 {
    background-color: #333333; }
  .homepage-slides .dark .slide .text h3 {
    background-color: #333333; }
  .homepage-slides .dark .slide .text span a.button {
    width: 300px; }
    .homepage-slides .dark .slide .text span a.button:hover {
      color: #333333; }
  .homepage-slides .dark .slide .text:hover {
    background-color: rgba(51, 51, 51, 0.9); }
    .homepage-slides .dark .slide .text:hover h2, .homepage-slides .dark .slide .text:hover h3 {
      background-color: rgba(51, 51, 51, 0); }
.homepage-slides .wide .slide {
  width: 33.3%;
  height: 400px;
  margin: 0; }
  .homepage-slides .wide .slide .image {
    background-size: cover;
    width: 100%; }
  .homepage-slides .wide .slide .text {
    width: 100%;
    height: 400px; }
    .homepage-slides .wide .slide .text h2 {
      font-family: 'Code';
      font-weight: 300;
      padding: 11px 10px 1px 10px; }

#createforge .cfheader {
  background-color: #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/headphone_stands.jpg");
  background-position: center center;
  background-size: cover;
  padding: 20px;
  height: 580px;
  overflow: hidden; }
  #createforge .cfheader img {
    width: 120px;
    height: auto;
    position: relative;
    left: 50%;
    margin-left: -60px; }
  #createforge .cfheader h1 {
    color: #ffffff;
    font-size: 56pt;
    font-weight: 400; }
    #createforge .cfheader h1 b {
      color: #03A9F4; }
  #createforge .cfheader h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 32pt;
    font-family: "Code"; }
  #createforge .cfheader h3 {
    color: #ffffff;
    text-align: center;
    font-weight: 200; }
#createforge .dark {
  background: linear-gradient(#141414, black), #000000;
  color: #ffffff;
  font-size: 16pt;
  text-align: center;
  border-top: 3px solid #03A9F4;
  font-weight: 200; }
  #createforge .dark div.content {
    width: 50%;
    margin: auto;
    min-width: 500px; }
  #createforge .dark div.video {
    padding: 50px; }
    #createforge .dark div.video video {
      max-width: 100%;
      height: 500px;
      box-shadow: 0px 0px 50px 0px rgba(3, 169, 244, 0.3); }
  #createforge .dark .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px; }
    #createforge .dark .logo img {
      height: 40px;
      width: auto;
      border-radius: 0;
      margin: 0 15px 0 0; }
    #createforge .dark .logo h2 {
      font-family: "Code";
      font-weight: 300;
      font-size: 32pt; }
      #createforge .dark .logo h2 b {
        color: #03A9F4; }
  #createforge .dark a.button {
    background-color: rgba(3, 169, 244, 0);
    border: 2px solid #ffffff;
    transition: all 0.2s ease-in-out;
    color: #cccccc;
    margin: 50px; }
    #createforge .dark a.button:hover {
      background-color: rgba(3, 169, 244, 0.2);
      color: #ffffff; }
#createforge .section {
  margin: 0;
  padding: 50px; }
  #createforge .section h1 b {
    color: #03A9F4; }
#createforge #about-us div h2 b {
  color: #03A9F4; }
#createforge #about-us div img {
  border: 3px solid #03A9F4; }
#createforge .cfcards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  z-index: 5; }
  #createforge .cfcards div.card {
    width: 33.333%;
    height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow: none; }
    @media screen and (max-width: 880px) {
      #createforge .cfcards div.card {
        height: 500px; } }
    #createforge .cfcards div.card img {
      height: 300px;
      width: auto;
      margin: auto;
      display: block;
      filter: brightness(1);
      transition: filter 0.2s ease-in-out; }
    #createforge .cfcards div.card h2 {
      text-align: center;
      margin-top: 30px;
      color: #000000;
      transition: color 0.2s ease-in-out; }
    #createforge .cfcards div.card div.slide {
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      width: 100%;
      height: 400px;
      background-color: rgba(0, 0, 0, 0.9);
      color: #ffffff;
      padding: 20px;
      opacity: 0;
      transition: all 0.2s ease-in-out; }
      @media screen and (max-width: 880px) {
        #createforge .cfcards div.card div.slide {
          height: 500px; } }
      #createforge .cfcards div.card div.slide div {
        padding: 20px; }
        @media screen and (max-width: 880px) {
          #createforge .cfcards div.card div.slide div {
            font-size: 11pt;
            padding: 5px; } }
      #createforge .cfcards div.card div.slide h2 {
        color: #03A9F4; }
        @media screen and (max-width: 880px) {
          #createforge .cfcards div.card div.slide h2 {
            display: none; } }
      #createforge .cfcards div.card div.slide a.button {
        width: auto;
        display: block;
        margin: auto;
        margin-top: 50px;
        background-color: rgba(3, 169, 244, 0);
        box-shadow: none;
        border: 2px solid #ffffff;
        text-align: center;
        color: #ffffff;
        font-weight: 200;
        font-size: 16pt;
        text-transform: uppercase;
        padding: 10px;
        transition: all 0.2s ease-in-out;
        color: #cccccc; }
        #createforge .cfcards div.card div.slide a.button:hover {
          background-color: rgba(3, 169, 244, 0.2);
          color: #ffffff; }
    #createforge .cfcards div.card:hover div.slide {
      top: 0;
      opacity: 1; }
    #createforge .cfcards div.card:hover::after {
      color: #ffffff; }
    #createforge .cfcards div.card:hover h2 {
      color: #ffffff; }
    #createforge .cfcards div.card:hover img {
      filter: brightness(0.8); }
    #createforge .cfcards div.card::after {
      display: block;
      content: '\f077';
      position: absolute;
      font-family: "FontAwesome";
      bottom: 10px;
      width: 50px;
      text-align: center;
      left: 50%;
      margin-left: -25px;
      color: #03A9F4;
      transition: color 0.2s ease-in-out; }
  #createforge .cfcards h2 {
    text-transform: uppercase; }

/* FOOTER STYLES */
#footer {
  background-color: #333333;
  color: #888888;
  min-height: 70px;
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.6); }
  #footer .btcred a {
    color: #888888;
    transition: all 0.2s ease-in-out; }
    #footer .btcred a img {
      width: 60px;
      height: auto;
      margin-top: 5px;
      filter: brightness(0.8);
      transition: all 0.2s ease-in-out; }
    #footer .btcred a:hover {
      text-decoration: none;
      color: #ffffff; }
      #footer .btcred a:hover img {
        filter: brightness(1); }

/* ABOUT US */
.create-team {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap; }
  .create-team div {
    margin: 50px auto;
    width: 25%;
    min-width: 400px;
    text-align: center;
    padding: 20px; }
    .create-team div img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      border: 3px solid #23b0af; }
    .create-team div h2 {
      text-transform: uppercase;
      margin-bottom: 0;
      font-family: "Code";
      font-size: 24pt; }
      .create-team div h2 b {
        color: #23b0af; }
    .create-team div h3 {
      margin-top: 0;
      text-transform: uppercase;
      font-weight: 200;
      color: #333333;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }
    .create-team div div {
      text-align: center;
      font-size: 16pt;
      width: 100%;
      min-width: 300px;
      margin: 0 auto;
      padding: 0;
      font-weight: 200; }

/* FONTS */
@font-face {
  font-family: 'Code';
  src: url("./fonts/Code-Bold.eot");
  src: local("Code Bold"), local("Code-Bold"), url("./fonts/Code-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Code-Bold.woff") format("woff"), url("./fonts/Code-Bold.ttf") format("truetype"), url("http://createcafe.ca/fonts/Code-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Code';
  src: url("./fonts/Code-Light.eot");
  src: local("Code Light"), local("Code-Light"), url("./fonts/Code-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Code-Light.woff") format("woff"), url("./fonts/Code-Light.ttf") format("truetype"), url("http://createcafe.ca/fonts/Code-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* ELEMENT STYLES */
body, html {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-width: 640px;
  overflow-x: hidden; }
  @media screen and (max-width: 880px) {
    body, html {
      zoom: 1.1; } }

div {
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:link {
    color: #23b0af; }
  a:visited, a:active {
    color: #308483; }
  a:hover {
    color: #308483;
    text-decoration: underline; }

/* GLOBAL CLASSES */
.card {
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3); }

a.button {
  display: inline-block;
  background-color: #23b0af;
  color: #ffffff;
  border: 0;
  padding: 15px;
  margin: 10px 0;
  text-decoration: none;
  font-size: 20pt;
  transition: background-color 0.1s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6); }
  a.button:hover {
    background-color: #308483; }

/* BODY SECTION STYLES */
.content-wrapper {
  margin-top: 70px; }

.section {
  margin: 50px 0 100px 0;
  /* Hours Table */ }
  .section h1 {
    font-family: "Code";
    font-weight: 800;
    text-align: center;
    font-size: 32pt; }
    .section h1 b {
      color: #23b0af; }
  .section .textblock {
    width: 65%;
    margin: auto;
    font-size: 16pt; }
    .section .textblock span {
      display: block;
      font-weight: 200; }
    .section .textblock a.button {
      display: block;
      width: 200px;
      margin: 20px auto;
      text-align: center; }
  .section .hours {
    text-align: center;
    margin: 20px auto;
    width: 80%; }
    .section .hours h2 {
      font-size: 20pt;
      margin: 5px;
      text-transform: uppercase;
      color: #23b0af; }
    .section .hours table {
      width: 100%;
      border-spacing: 0;
      border: 2px solid #23b0af; }
      .section .hours table thead th {
        color: #ffffff;
        background-color: #23b0af;
        text-transform: uppercase;
        font-weight: 400; }
      .section .hours table thead th.today {
        background-color: #23b0af;
        color: #ffffff;
        font-weight: 800;
        border: 5px solid #23b0af; }
      .section .hours table tbody tr td {
        font-size: 12pt;
        padding: 5px; }
      .section .hours table tbody tr td.today {
        background-color: #23b0af;
        color: #ffffff;
        border: 5px solid #23b0af; }
      .section .hours table tbody tr td:nth-child(odd) {
        background-color: #eeeeee; }
      .section .hours table tbody tr td:first-child {
        background-color: #ffffff;
        color: #23b0af;
        font-size: 12pt;
        text-transform: uppercase;
        text-align: right;
        padding-right: 15px;
        box-sizing: border-box; }
      .section .hours table tbody tr td.today {
        background-color: #23b0af;
        color: #ffffff;
        font-weight: 800;
        border: 5px solid #23b0af;
        box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.25); }
      .section .hours table tbody tr:nth-child(1) td {
        box-shadow: inset 0px 3px 3px -2px rgba(0, 0, 0, 0.25); }
      .section .hours table tbody tr:nth-child(1) td.today {
        box-shadow: none; }

.grey-bg {
  background-color: #eeeeee;
  padding: 10px; }

.social_media {
  background-color: #eeeeee;
  padding-top: 20px;
  width: 100%;
  text-align: center; }
  .social_media h2 {
    font-weight: 200; }
    .social_media h2 i {
      color: #23b0af; }
  .social_media #instafeed {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start; }
    .social_media #instafeed .ig_post {
      margin: 10px;
      width: 300px;
      border-radius: 10px; }
      .social_media #instafeed .ig_post img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 0px 3px 3px 0px rgba(48, 132, 131, 0.5); }
      .social_media #instafeed .ig_post span {
        padding: 10px;
        font-weight: 200;
        display: block;
        text-align: left; }
        .social_media #instafeed .ig_post span span {
          padding: 5px 0;
          font-weight: 400;
          font-size: 12pt;
          text-align: center;
          text-transform: uppercase; }
  .social_media .social_icons {
    margin-bottom: 60px; }
    .social_media .social_icons a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      opacity: 0.9;
      width: 180px;
      margin: 20px auto;
      padding-right: 20px; }
      .social_media .social_icons a span {
        font-size: 16pt;
        margin-left: 20px; }
      .social_media .social_icons a:hover {
        text-decoration: none;
        opacity: 1; }
    .social_media .social_icons a.facebook {
      color: #3b5998; }
    .social_media .social_icons a.twitter {
      color: #00aced; }
    .social_media .social_icons a.instagram {
      color: #bc2a8d; }

/* CONTACT */
.contact-section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }
  .contact-section div {
    margin: 30px; }
  .contact-section .form {
    min-width: 600px; }
  .contact-section .mid {
    min-width: 600px;
    text-align: center; }
    .contact-section .mid iframe {
      border: 2px solid #23b0af;
      width: 600px;
      height: 450px;
      margin: auto;
      background-color: #cccccc; }
    .contact-section .mid .phone, .contact-section .mid .email {
      color: #333333;
      font-size: 28pt; }

/*# sourceMappingURL=main.css.map */
