/* HEADER STYLES */
#header-bar {
  background-color: #ffffff;
  color: #333333;
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 3px solid #23b0af;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6); }
  #header-bar .logo {
    font-family: "Code";
    font-size: 30pt;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-shadow: 0px 1px 0px black;
    text-transform: uppercase; }
    #header-bar .logo img {
      width: 40px;
      height: auto;
      margin-top: -10px;
      margin-right: 10px; }
  #header-bar #nav {
    list-style: none;
    align-self: flex-end;
    display: inline-flex;
    align-items: stretch;
    height: 100%;
    margin: 0;
    transition: right .2s ease-in-out; }
    #header-bar #nav li {
      height: 100%; }
      #header-bar #nav li a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #ffffff;
        color: #23b0af;
        padding: 10px 20px;
        box-sizing: border-box;
        text-decoration: none;
        transition: all 0.1s ease-in-out;
        text-transform: uppercase; }
        #header-bar #nav li a:hover {
          color: #ffffff;
          background-color: #23b0af; }
        @media screen and (max-width: 880px) {
          #header-bar #nav li a {
            display: block;
            width: 100%;
            color: #ffffff;
            background-color: #308483; } }
      @media screen and (max-width: 880px) {
        #header-bar #nav li {
          height: 60px;
          width: 100%;
          line-height: 40px; } }
    @media screen and (max-width: 880px) {
      #header-bar #nav {
        display: block;
        position: fixed;
        top: 0;
        padding: 0;
        height: 100%;
        background-color: #308483;
        right: -150px; } }
  #header-bar .nav-toggle {
    display: none;
    height: 100%;
    line-height: 30px;
    padding: 20px; }
    @media screen and (max-width: 880px) {
      #header-bar .nav-toggle {
        display: block; } }

/* FOOTER STYLES */
#footer {
  background-color: #333333;
  color: #888888;
  min-height: 70px;
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.6); }
  #footer .btcred a {
    color: #888888;
    transition: all 0.2s ease-in-out; }
    #footer .btcred a img {
      width: 60px;
      height: auto;
      margin-top: 5px;
      filter: brightness(0.8);
      transition: all 0.2s ease-in-out; }
    #footer .btcred a:hover {
      text-decoration: none;
      color: #ffffff; }
      #footer .btcred a:hover img {
        filter: brightness(1); }

#content {
  min-height: 650px; }

/* FONTS */
@font-face {
	font-family: 'Code';
	src: url('./fonts/Code-Bold.eot');
	src: local('Code Bold'), local('Code-Bold'),
		url('./fonts/Code-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Code-Bold.woff') format('woff'),
		url('./fonts/Code-Bold.ttf') format('truetype'),
		url('http://createcafe.ca/fonts/Code-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Code';
	src: url('./fonts/Code-Light.eot');
	src: local('Code Light'), local('Code-Light'),
		url('./fonts/Code-Light.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Code-Light.woff') format('woff'),
		url('./fonts/Code-Light.ttf') format('truetype'),
		url('http://createcafe.ca/fonts/Code-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/*# sourceMappingURL=shop.css.map */
