@import './../../common/partials/colors';

.professional-services {
  mat-card-title {
    margin-bottom: 2em;
    color: $primary-color-dark;
    text-align: center;
    font-weight: 200;
  }
  mat-card-content {
    margin: -24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    mat-accordion {
      width: 100%;
      mat-expansion-panel {
        width: 100%;
        margin: 0 auto;
        background-color: $super-dark-grey;
        color: $light-grey;
        font-size: 18px;
        mat-expansion-panel-header {
          background-color: $black;
          background-size: auto 200px;
          background-position: right top;
          background-repeat: no-repeat;
          &.printing {
            background-position: right -80px;
            filter: hue-rotate(-180deg);
          }
          mat-panel-title {
            color: $white;
            font-size: 28px;
            font-family: "Code Pro", sans-serif;
          }
          mat-panel-description {
            color: $med-grey;
            margin: auto;
            font-size: 22px;
            font-weight: 200;
          }
        }
        .content {
          text-align: center;
          .text {
            margin: 24px auto;
            max-width: 800px;
            text-align: left;
            font-size: 20px;
            font-weight: 200;
            line-height: 1.2;
          }
          button {
            color: $black;
          }
        } 
      }
    }
  }
  mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    button {
      background-color: $primary-color-dark;
      color: $white;
    }
  }
}
