$white: #ffffff;
$black: #000000;

$primary-color: #23b0af;
$primary-color-dark: #308483;

$grey: #e0e0e0;
$light-grey: #fafafa;
$med-grey: #dddddd;
$dark-grey: #aeaeae;
$super-dark-grey: #333333;
$very-dark-grey: #666666;