.page-intro {
  position: relative;
  width: 100%;
  min-height: 500px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #363430;
  background-image: url('/assets/images/printer_bg.jpg');
  background-position: center;
  background-size: cover;
  font-size: 26pt;
  font-weight: 200;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
  overflow:hidden;
  video {
    position: absolute;
    min-width:100%;
    min-height:100%;
    height:auto;
    width:auto;
    z-index:0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: brightness(0.6);
    transition: filter 0.2s ease-in-out;
    &:hover {
      filter: brightness(0.7);
    }
  }
  div {
    z-index: 1;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  }
  h1 {
    font-weight: 200;
    font-family: "Code";
    b {
      font-weight: 800;
    }
  }
}
