<mat-sidenav-container>
    <mat-sidenav #sideMenu mode="over">
      <side-menu></side-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="page-wrapper">
          <page-header></page-header>
          <page-intro></page-intro>
          <hours-of-operation></hours-of-operation>
          <info-sliders></info-sliders>
          <products-section></products-section>
          <professional-services></professional-services>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
