<h1 mat-dialog-title>
  Classes
</h1>
<mat-dialog-content>
  <div class="classes">
    <mat-card>
      <mat-card-title>Intro to 3D Printing</mat-card-title>
      <img mat-card-image src="./assets/images/class-3d-printing.jpg" />
      <mat-card-content>
        Create Cafe's Introduction to 3D Printing course will teach you how to start a 3D Print from start to finish.
        <br /><br />
        The introduction will cover:
        <ul>
          <li>How to download a 3D Printable model</li>
          <li>Ensure printability of the model</li>
          <li>Preparing model for printing</li>
          <li>Printing your First Print!</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="open3DPrinting()">Book Now</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Intro to 3D Design</mat-card-title>
      <img mat-card-image src="./assets/images/class-3d-design.jpg" />
      <mat-card-content>
        You will learn how to give your ideas form in the digital world so that you can print them confidently. No matter the design software, the fundamentals of printability will be emphasized early on
        <br /><br />
        All software for these classes is free.
        <br /><br />
        A computer with the software pre-installed is required.
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="open3DDesign()">Book Now</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Reverse Engineering</mat-card-title>
      <img mat-card-image src="./assets/images/class-reverse-engineering.jpg" />
      <mat-card-content>
        You will be given a 3D printed part and shown the thought process of how to reverse engineer it. How to infer to simplify your design. Basic of Mechanics of materials applied to 3d printing as well.
        Afterwards free time for personal projects with assistance. 
        <br /><br />
        All software for these classes is free.
        <br /><br />
        A computer with the software pre-installed is required.
        <br /><br />
        We can provide a link to the software's download site.
        <br /><br />
        A mouse is recommended.
        <br /><br />
        4-hour Class
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="openReverseEngineering()">Book Now</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Cosplay Design</mat-card-title>
      <img mat-card-image src="./assets/images/class-cosplay.jpg" />
      <mat-card-content>
        We teach you all the tools you need to know to add precise details to your props. How to work from reference. How to modify STLs.
        <br /><br />
        All software for these classes is free. A computer with the software pre-installed is required.
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="openCosplay()">Book Now</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Organic Modeling</mat-card-title>
      <img mat-card-image src="./assets/images/class-organic-modeling.jpg" />
      <mat-card-content>
        (FullTurtle demo + freetime).
        <br /><br />
        How to sculpt organically for printing.
        <br /><br />
        All software for these classes is free.
        <br /><br />
        A computer with the software pre-installed is required.
        <br /><br />
        We can provide a link to the software's download site.
        <br /><br />
        A mouse is recommended.
        <br /><br />
        Wacom tablet or equivalent is recommended
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="openOrganicModeling()">Book Now</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-dialog-content>