<div class="intro-sliders">
  <div *ngFor="let section of sections" class="section"
    [id]="'section-' + section.id"
    [ngClass]="{
      'expanded': isExpanded(section.state),
      'collapsed': isCollapsed(section.state)
    }"
    [ngStyle]="{
      'background-image': 'url(\'' + section.imageUrl + '\')'
    }">
    <div class="title"
      (click)="toggleExpand(section)"
      >{{ section.title }}</div>
    <div class="content">
      <div class="text">
        {{ section.text }}
      </div>
      <div class="button">
        <button mat-raised-button
          *ngFor="let button of section.buttons"
          (click)="button.action()">
          {{ button.text }}
        </button>
      </div>
    </div>
    <div
      class="color-shade"
      [ngClass]="section.color"
      (click)="toggleExpand(section)"
    ></div>
  </div>
</div>
